<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>
  <style>
    .rewd {
      color: red;
      font-weight: bold;
    }
    </style>
  <body class="text-center">
    <form class="form-signin" method="POST" action="/users/login/">
      {% csrf_token %}

      <h1 class="h3 mb-3 font-weight-normal">Пожалуйста войдите</h1>
       {{ form.as_p }}
      <div class="checkbox mb-3">
        <label>
            Нет аккаунта? <a href="/users/register/">Зарегистрируйтесь</a>
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
  </body>
</html>